*{
    padding: 0;
    margin: 0;

}

.sales-header{
    /* background-color:green;min-height:5rem;
    border */
    padding:1.6rem;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom:1rem;
    font-family: Montserrat;
}

.sales-card{
      padding:1rem;
      background-color: rgb(255, 255, 255);
      color: rgb(19, 18, 18);
      border-radius:9px;
      text-align: center;
      font-family: Montserrat;
      min-height: 10rem;
      padding-top:2rem;
      transition-duration: 1s;
      border:solid 1px rgb(205, 208, 216);
}

.sales-card:hover{
      padding:1rem;
      background-color: rgb(54, 170, 206);
      border: solid 2px rgb(69, 70, 83);
     
}

.sales-card h5{
   font-size:15.5px;
   font-weight: 700;
   /* letter-spacing:2px; */
   color: rgb(12, 12, 12);
}

.sales-card p{
   font-size:25px;
   font-weight:900;
   color: rgb(255, 255, 255);
}

.sales-title{
    text-align: center;
    font-family: Montserrat;
}
.sales-title p{
    letter-spacing:3px;
    color: rgb(109, 120, 184);
    font-weight:500;
}

.sales-title h1{
    margin-top:3rem;
    margin-bottom:1rem;
    text-align: center;
    font-size: 27px;
    font-weight:800;
}

.sales-listing{
    /* background-color:rgb(124, 124, 194)!important; */
    border: solid 1px rgb(236, 238, 238);
    margin: 10px;
    padding: 1rem;
    border-radius:3px;
}

.accordion-item{
    /* background-color:red; */
    padding:1px;
    margin-bottom: 2rem;
    border-radius:1px solid rgb(224, 247, 247);
    border: solid 1px rgb(241, 241, 245);
}


.accordion-button{
    font-family: Montserrat;
    border-radius:3px !important;;
}

.collected-contacts{
    background-color:rgb(236, 240, 245);
    padding: 3.1rem;
    border-radius:10px;
    transition-duration: 1s;
    margin-bottom:2rem;
}
.collected-contacts:hover{
    background-color: rgb(54, 170, 206);
    border: solid 2px rgb(62, 98, 122);
}

.collected-contacts h2{
   color: rgb(244, 242, 255);
   font-size: 26px;
   font-family: Montserrat;
   font-weight: 700;
}

.customer{
    background-color:rgb(20, 187, 20);
    color:white!important;
}
.customer-bt button:focus{
    background-color:rgb(20, 187, 20)!important;
    color: white!important;
    outline: none!important;
}

.maybe{
    background-color:rgb(219, 198, 11);
}

.maybe-bt button:focus{
    background-color:rgb(219, 198, 11)!important;
}

.no-answer{
    background-color:rgb(131, 135, 158);
}
.no-answer-bt button:focus{
    background-color:rgb(131, 135, 158);
}

.said-no{
    background-color:rgb(255, 77, 32);
}

.said-no-bt button:focus{
    background-color:rgb(255, 77, 32);
    
}

.customers-table{
    background-color:rgb(255, 255, 255);
    /* padding:1rem; */
    border:1px solid rgb(255, 255, 255);
    border-radius:3px;
    border: solid 1px rgb(224, 222, 222);
    transition-duration: 1s;
}

.accordion-button{
   border:solid 2px rgb(255, 255, 255) !important;
   height: 4rem;
   transition-duration: 1.4s;
}

.accordion-button:hover{
   /* border:solid 2px rgb(189, 209, 231) !important; */
   border-radius: 6px!important;
   background-color: rgb(221, 224, 243);
}

.accordion-body{
    /* background-color: yellowgreen; */
    padding:1px;
    margin-top: 6px;
}

.collected-contacts{
    background-color:rgb(52, 60, 104);
    border: solid 2px rgb(217, 226, 235);
}

.collected-contacts small{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(5, 247, 187);
    /* margin-left: 1rem; */
    padding-bottom: 6.5px;
}
.collected-contacts span{
    color: rgb(236, 205, 26) !important;
    margin-left: 7rem;
    font-size: 40px;
    font-weight: 200;
    /* background-color: yellow; */
    border-bottom: 1px solid rgb(61, 235, 38);
}

.form-container {
	border: #e0dfdf 1px solid;
	padding: 30px 30px 10px 30px;
	border-radius: 15px;
	margin: 10px auto;
	width: 350px;
	text-align: center;
}

.input-row {
	margin-top: 0px;
	margin-bottom: 20px;
}

.btn-submit {
	background: #efefef;
	border: #d3d3d3 1px solid;
	width: 100%;
	border-radius: 20px;
	cursor: pointer;
	padding: 12px;
}

.btn-submit:hover {
	background: #d9d8d8;
	border: #c3c1c1 1px solid;
}

.outer-container table {
	border-collapse: collapse;
	width: 100%;
}

.outer-container th {
	border-top: 2px solid #dddddd;
	background: #f9f9f9;
	padding: 8px;
	text-align: left;
	font-weight: normal;
}

.outer-container td {
	border-top: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

.outer-container label {
	margin-bottom: 5px;
	display: inline-block;
}

#response {
	padding: 10px;
	border-radius: 15px;
}

.success {
	background: #c7efd9;
	border: #bbe2cd 1px solid;
}

.error {
	background: #fbcfcf;
	border: #f3c6c7 1px solid;
}

.file {
	border: 1px solid #cfcdcd;
	padding: 10px;
	border-radius: 20px;
	color: #171919;
	width: 100%;
	margin-bottom: 20px;
}

tr th{
    font-family: Montserrat;
    font-size:14px;
    font-weight:700;
    background-color:rgb(240, 247, 250)!important;
}
tr td{
    font-family: Montserrat;
    font-size:14px;
    font-weight:500;
}

.waiting-call p{
    color: rgb(72, 73, 75);
}


/* [User buttons] */
.user-buttons{
    background-color: grey;
    border-radius: 4px;
    margin-top: 3rem;
}
.user-buttons button{
    height: 4rem;
    /* width: 10rem; */
}

.user-start{
    background-color: rgb(247, 238, 238);
    border: solid 1px grey;
    border-radius: 6px;
    min-height: 10rem;
    width: 9vw;
    margin: 0.5rem;
}


