*{
    padding: 0;
    margin: 0;

}


.sales-header{
    /* background-color:green;min-height:5rem;
    border */
    padding:1.6rem;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom:1rem;
    font-family: Montserrat;
}


.sales-card{
      padding:1rem;
      background-color: rgb(255, 255, 255);
      color: rgb(19, 18, 18);
      /* border-radius:9px; */
      text-align: center;
      font-family: Montserrat;
      min-height: 9rem;
      padding-top:2rem;
      transition-duration: 1s;
      border:solid 1px rgb(235, 235, 240);
      /* border-radius:7px; */
}


.sales-card h5{
   font-size:13px;
   font-weight:700;
   /* letter-spacing:2px; */
   color: rgb(99, 97, 97);
}

.sales-card p{
   font-size:22px;
   font-weight:300;
   color: rgb(146, 146, 146);
}

.sales-title{
    text-align: center;
    font-family: Montserrat;
}
.sales-title p{
    letter-spacing:3px;
    color: rgb(109, 120, 184);
    font-weight:500;
}
.sales-card:hover{
    padding:1rem;
    background-color: rgb(77, 83, 110);
    border: solid 2px rgb(69, 70, 83);
    color:white;cursor:pointer;
   
}


.ani{
    /* background-color:red; */
    padding:0px!important;
}

.sales-title h1{
    margin-top:3rem;
    margin-bottom:1rem;
    text-align: center;
    font-size: 27px;
    font-weight:800;
}

.sales-listing{
    /* background-color:rgb(124, 124, 194)!important; */
    border: solid 1px rgb(236, 238, 238);
    margin: 10px;
    padding: 1rem;
    border-radius:3px;
}

.accordion-item{
    /* background-color:red; */
    padding:1px;
    margin-bottom: 2rem;
    border-radius:1px solid rgb(224, 247, 247);
    border: solid 1px rgb(241, 241, 245);
}

.sales-boxes{
    padding:20px 20px 1px 20px;
}

.analysis-cards{
   background-color: rgb(242, 245, 248);
   border-top: 1px solid rgb(235, 235, 235);
   min-height:80vh;
}

.accordion-button{
    font-family: Montserrat;
    border-radius:3px !important;;
}

.collected-contacts{
    background-color:rgb(236, 240, 245);
    padding: 3.1rem;
    border-radius:10px;
    transition-duration: 1s;
    margin-bottom:2rem;
}
.collected-contacts:hover{
    background-color: rgb(54, 170, 206);
    border: solid 2px rgb(62, 98, 122);
}

.collected-contacts h2{
   color: rgb(244, 242, 255);
   font-size: 26px;
   font-family: Montserrat;
   font-weight: 700;
}


.customer-bt button:focus{
    background-color:rgb(20, 187, 20)!important;
    color: white!important;
    outline: none!important;
}



.maybe-bt button:focus{
    background-color:rgb(219, 198, 11)!important;
}


.no-answer-bt button:focus{
    background-color:rgb(131, 135, 158);
}


.said-no-bt button:focus{
    background-color:rgb(255, 77, 32);
    
}

.customers-table{
    background-color:rgb(255, 255, 255);
    /* padding:1rem; */
    border:1px solid rgb(255, 255, 255);
    border-radius:3px;
    border: solid 1px rgb(224, 222, 222);
    transition-duration: 1s;
}

.accordion-button{
   border:solid 2px rgb(255, 255, 255) !important;
   height: 4rem;
   transition-duration: 1.4s;
}

.accordion-button:hover{
   /* border:solid 2px rgb(189, 209, 231) !important; */
   border-radius: 6px!important;
   background-color: rgb(221, 224, 243);
}

.accordion-body{
    /* background-color: yellowgreen; */
    padding:1px;
    margin-top: 6px;
}

.collected-contacts{
    background-color:rgb(52, 60, 104);
    border: solid 2px rgb(217, 226, 235);
}

.collected-contacts small{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(5, 247, 187);
    /* margin-left: 1rem; */
    padding-bottom: 6.5px;
}

.collected-contacts span{
    color: rgb(236, 205, 26) !important;
    margin-left: 7rem;
    font-size: 40px;
    font-weight: 200;
    /* background-color: yellow; */
    border-bottom: 1px solid rgb(61, 235, 38);
}

.form-container {
	border: #e0dfdf 1px solid;
	padding: 30px 30px 10px 30px;
	border-radius: 15px;
	margin: 10px auto;
	width: 350px;
	text-align: center;
}

.input-row {
	margin-top: 0px;
	margin-bottom: 20px;
}

.btn-submit {
	background: #efefef;
	border: #d3d3d3 1px solid;
	width: 100%;
	border-radius: 20px;
	cursor: pointer;
	padding: 12px;
}

.btn-submit:hover {
	background: #d9d8d8;
	border: #c3c1c1 1px solid;
}

.outer-container table {
	border-collapse: collapse;
	width: 100%;
}

.outer-container th {
	border-top: 2px solid #dddddd;
	background: #f9f9f9;
	padding: 8px;
	text-align: left;
	font-weight: normal;
}

.outer-container td {
	border-top: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

.outer-container label {
	margin-bottom: 5px;
	display: inline-block;
}

#response {
	padding: 10px;
	border-radius: 15px;
}

.success {
	background: #c7efd9;
	border: #bbe2cd 1px solid;
}

.error {
	background: #fbcfcf;
	border: #f3c6c7 1px solid;
}

.file {
	border: 1px solid #cfcdcd;
	padding: 10px;
	border-radius: 20px;
	color: #171919;
	width: 100%;
	margin-bottom: 20px;
}

tr th{
    font-family: Montserrat;
    font-size:14px;
    font-weight:700;
    background-color:rgb(240, 247, 250)!important;
}
tr td{
    font-family: Montserrat;
    font-size:14px;
    font-weight:500;
}

.waiting-call p{
    color: rgb(72, 73, 75);
}


/* [User buttons] */
.user-buttons{
    background-color: grey;
    border-radius: 4px;
    margin-top: 3rem;
}
.user-buttons button{
    height: 4rem;
    /* width: 10rem; */
}

.user-start{
    background-color: rgb(247, 238, 238);
    border: solid 1px grey;
    border-radius: 6px;
    min-height: 10rem;
    width: 9vw;
    margin: 0.5rem;
}


.my-header h4{
    letter-spacing:2px;
    font-weight: 900;
    margin: 2rem;
    font-family: Montserrat;
   
}

.my-header{
border-bottom: 2px solid rgb(228, 230, 231);
}

.mkokoteni img{
    height:10rem;
    width:10rem;
}

.side-nav button{
    background-color: rgb(46, 46, 46)!important;
    border-radius:6px;
    padding:5px 5px 5px 5px!important;
    font-size: 14px;
    margin-top: 10px;
    width:100%;
    height:3.4rem;
    color: white!important;
}
.home-button button i{
    margin-left: 9px;
    
    color: rgb(133, 133, 133);
}

.assigned-area{
    border-left: 1px solid rgb(221, 216, 216);
    /* padding:1rem; */
    /* min-height:100vh; */
}

.home-button button{
    color: rgb(32, 31, 31);
    /* border-radius:6px; */
    border: none;
    /* border-top: solid rgb(222, 225, 231) 2px; */
    border-bottom: solid rgb(222, 225, 231) 1px;
    background-color:white;
    font-weight: 500;
    font-size:14px;
    width:100%;
    padding: 21px 1px 21px 1px;
    transition-duration:1.4s;
    /* min-width:17.4rem; */
}
.home-button button:hover{
    background-color:rgb(235, 235, 235);
    border-radius: 4px;
}

.assigned-table{
    padding:2rem;
 
}
.assigned-table thead{
    height:3.3rem!important;

 
}
.assigned-table h5{
   color: rgb(59, 59, 59);
   font-family:Roboto;
   font-size: 18px;
   font-weight: 900;
   margin: 7px 0px 17px 1px;
}

.assigned-card-area{
    padding:2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(243, 246, 248);
    background-color: rgb(248, 249, 250);
}

.assigned-card{
    /* border-radius:6px; */
    /* background-color:rgb(242, 245, 248); */
    margin-bottom: 10px;
    border-right: 1px rgb(233, 235, 236) solid;
    padding: 2rem;
    text-align:center;
    font-family: Montserrat;
}

.assigned-card h6{
    font-weight: 700;
    font-size: 13px;
    color:rgb(58, 56, 56)
}

.assigned-card p{
    /* font-weight: 700; */
    font-size:23px;
    /* color: rgb(123, 135, 145); */
    /* color: rgb(42, 112, 192); */
}

.customer h2{
    background-color:rgb(123, 151, 123);
}

.cspan {
    background-color: rgb(15, 197, 76);
    height:1rem;
    border-radius: 9px;
    width:2rem;
}

.cdirer{
    color: rgb(23, 190, 79)!important;
    font-weight: 700;
}

.nodirer{
    color: rgb(241, 25, 18)!important;
    font-weight: 700;
}

.mbdirer{
    font-weight: 700;
    color: rgb(150, 148, 19)!important;
}
.nadirer{
    color: rgb(64, 88, 121)!important;
    font-weight: 700;
}
.otc{
    font-weight: 700;
}

.snspan {
    background-color: rgb(241, 25, 18);
    height:1rem;
    border-radius: 9px;
    width:2rem;
}

.mbspan {
    background-color: rgb(226, 223, 5);
    height:1rem;
    border-radius: 9px;
    /* border: rgb(235, 230, 230) 1px solid; */
    width:3rem;
}

.naspan {
    background-color: rgb(74, 85, 100);
    height:1rem;
    border-radius: 9px;
    width:2.5rem;
}

.assigned-title{
    border-bottom: 1px solid rgb(242, 244, 245);
}

.assigned-title h1{
    margin: 1.6rem;
    color: rgb(70, 75, 90);
    font-size:19px;
    /* letter-spacing:1px; */
    font-weight: 800;
    font-family: Montserrat;
}
.logout-sec button{
    height: 2rem!important;
    border-radius: 7px;
    border: none;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 500;
    font-family: Montserrat;
    background-color: rgb(248, 248, 248);
}

.assigned-title h1 span{
    float: right;
    margin-right:3rem;
    border-radius: 30rem;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    font-family:Montserrat;
    /* border: solid 1px rgb(196, 191, 191); */
    /* padding:10px 10px 0px 10px; */
}

  .dropdown-content {
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    transition-duration: 1s;
  }

  .dropdown button{
      margin:1px!important;
      /* background-color:transparent!important; */
      border: none!important;
      
  }
 
  .status-box{
    padding: 10px 30px 0px 30px!important;
    background-color: rgb(241, 241, 241)!important;
    transition-duration: 1s;
  }
  .status-box:hover{
    color: white!important;
    background-color: rgb(85, 135, 168)!important;
    cursor: pointer;
  }
  .dropdown-toggle{
   background-color:transparent!important;
  }

   .dropdown-content{
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
      padding: 1rem;
  }
  
   .dropdown-content textarea{
      border-radius: 3px;
      min-height:   2rem;
      padding: 1rem;
      color:rgb(134, 134, 134);
      width: 100%;
      border: solid 1px rgb(202, 202, 202);
  }

   .dropdown-content select{
      border-radius: 3px;
      min-height:2rem;
      padding: 7px 0px 7px 15px;
      color:rgb(102, 114, 219);
      width: 100%;
      border:none;
      border: solid 1px rgb(202, 202, 202);
      margin-bottom: 10px;
      /* border-top: solid 2px rgb(223, 219, 219); */
  }

  .dropdown-content button{
      background-color: rgb(70, 70, 70);
      border: none;
      color: white;
      height:2.5rem;
      border-radius: 6px;
      transition-duration: 1.3s;
      margin-top: 10px;
      font-size: 13px!important;
      width: 100%;
      font-family: Montserrat;
  }

  .dropdown-content button:hover{
 background-color: black;
 border-radius: 1px;
  }

  select option{
      /* background-color: rebeccapurple; */
      margin:2px;
      padding: 7px;
      border-radius: 3px;
      border: 2px solid rgb(230, 230, 230);
  }

  .dropdown-content p{
      margin: 9px 0px 11px 15px;
  }

  .dropdown label{
      font-size: 13px;
      font-family: Montserrat;
      margin-bottom: 5px;
      margin-left:1rem;
  }

  .dropdown-content p i{
      margin-right: 1rem;
  }

  .coll-c{
    font-weight: 700;
   
  }

  .lmis{
    font-weight: 900;
    font-size:5rem;
    font-family: Montserrat;
  }

  .login-btn button{
    border-radius:38px;
    height:3.3rem;
    border: none;
    color: white;
    width:10rem;background-color:black;
    font-size:14px;
    font-weight: 600;
    transition-duration: 1s;
  }

  
  .login-btn{
    text-align: center;
    /* background-color: red; */
    margin-top:4rem;
  }

  .login-btn h6{
    font-weight: 900;
    font-size:22px;
    color: grey;
    font-family: Montserrat;
  }

  .index-top{
      height:6rem;

  }

  .big-logo p{
    font-size:15px;
    font-family: Montserrat;
    font-weight: 600;
    color: rgb(107, 107, 107);
  }

  .login{
    background-color:rgb(236, 236, 236);
    border-radius:2px;
    padding:2rem;
    margin: top 3rem;
    text-align: center;
  }
  .login input{
    height:3.5rem;
    border: grey solid 1px;
    border-radius:5px;
    width:60%;
    margin: 0.6rem;
    padding-left: 2rem;
    font-family: Montserrat;
    font-size: 14px;
    border: solid rgb(194, 194, 194) 1px;
  }
  
  .login button{
    height:3rem;
    border: grey solid 1px;
    border-radius:30px;
    margin: 0.6rem;
    font-family: Montserrat;
    background-color:rgb(70, 72, 73);
    margin-right: 2rem;
    color: white;font-weight:600;
    transition-duration: 1.2s;
    font-size:13px;
    width:9rem;
  }
 
  .login h1{
    font-family: montserrat;
    font-weight: 800;
    font-size:17px;
  }
  .small-logo a{
    text-decoration:none;
    color: black;
  }

  .c-name{
    max-width:20rem!important;
  }

  .register-btn{
    background-color:white!important;
    border: solid 1px grey!important;
    color:rgb(0, 0, 0)!important;
  }

  .login button:hover{
    background-color:rgb(238, 243, 248)!important;
    color:black !important;
  }

  .register-btn:hover{
    background-color:rgb(29, 39, 49)!important;
    color: white !important;
  }

  .login button:hover{
    background-color:rgb(43, 94, 145);
  }

  .cr-a{
    text-align: center;
    padding:5rem;
  }

  .cr-a h2{
    font-size:21px;
    font-weight: 900;
    font-family: Montserrat;

  }

  .reg-acc{
    border-radius: 30px!important;
    margin-left: 2rem;
    background-color:rgb(59, 99, 172)!important;
  }

  .logout-sec{
      padding-top: 31px;
      font-family: Montserrat;
      font-size: 13px!important;
  }

  .logout-sec{
      padding-top: 31px;
      font-family: Montserrat;
  }

  .logout-sec a{
      margin-left: 1rem!important;

  }

  .logout-sec button{
     height: 2.5rem!important;
     border: solid rgb(240, 242, 243) 1px;
     transition-duration: 1.3s;
  }

  .logout-sec button:hover{
 background-color: rgb(72, 132, 180);
 color: white!important;
  }

  .logout-sec i{
      margin-right: 6px!important;
      color: rgb(94, 94, 94);
    
  }

  /* ADMIN DASHBOARD */
  .admin-nav{
     
  }

  .adm-bg{
      min-height: 90Vh;
      background-color: rgb(54, 59, 83)!important;
  }

  .users-table{
    background-color:white;
    padding: 15px 20px 0px 20px;
  }

  .users-table thead tr th{
      font-weight:600!important;
      font-size: 13px!important;
      color: #303333;
  }

  .users-table tr{
    text-align: center!important;
  }

  .users-table h6{
     font-size:15px;
     font-weight: 600;
     margin-bottom:0.5rem;
     font-family: Montserrat;
     color: rgb(65, 65, 65);
  }