*{
    padding: 0;
    margin: 0;

}

.sales-header{
    /* background-color:green;min-height:5rem;
    border */
    padding:1.6rem;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom:1rem;
    font-family: Montserrat;
}

.sales-card{
      padding:1rem;
      background-color: rgb(255, 255, 255);
      color: rgb(19, 18, 18);
      border-radius:9px;
      text-align: center;
      font-family: Montserrat;
      min-height: 10rem;
      padding-top:2rem;
      transition-duration: 1s;
      border:solid 1px rgb(205, 208, 216);
}

.sales-card:hover{
      padding:1rem;
      background-color: rgb(54, 170, 206);
      border: solid 2px rgb(69, 70, 83);
     
}

.sales-card h5{
   font-size:15.5px;
   font-weight: 700;
   /* letter-spacing:2px; */
   color: rgb(12, 12, 12);
}

.sales-card p{
   font-size:25px;
   font-weight:900;
   color: rgb(255, 255, 255);
}

.sales-title{
    text-align: center;
    font-family: Montserrat;
}
.sales-title p{
    letter-spacing:3px;
    color: rgb(109, 120, 184);
    font-weight:500;
}

.sales-title h1{
    margin-top:3rem;
    margin-bottom:1rem;
    text-align: center;
    font-size: 27px;
    font-weight:800;
}

.sales-listing{
    /* background-color:rgb(124, 124, 194)!important; */
    border: solid 1px rgb(236, 238, 238);
    margin: 10px;
    padding: 1rem;
    border-radius:3px;
}

.accordion-item{
    /* background-color:red; */
    padding:1px;
    margin-bottom: 2rem;
    border-radius:1px solid rgb(224, 247, 247);
    border: solid 1px rgb(241, 241, 245);
}


.accordion-button{
    font-family: Montserrat;
    border-radius:3px !important;;
}

.collected-contacts{
    background-color:rgb(236, 240, 245);
    padding: 3.1rem;
    border-radius:10px;
    transition-duration: 1s;
    margin-bottom:2rem;
}
.collected-contacts:hover{
    background-color: rgb(54, 170, 206);
    border: solid 2px rgb(62, 98, 122);
}

.collected-contacts h2{
   color: rgb(244, 242, 255);
   font-size: 26px;
   font-family: Montserrat;
   font-weight: 700;
}

.customer{
    background-color:rgb(20, 187, 20);
    color:white!important;
}
.customer-bt button:focus{
    background-color:rgb(20, 187, 20)!important;
    color: white!important;
    outline: none!important;
}

.maybe{
    background-color:rgb(219, 198, 11);
}

.maybe-bt button:focus{
    background-color:rgb(219, 198, 11)!important;
}

.no-answer{
    background-color:rgb(131, 135, 158);
}
.no-answer-bt button:focus{
    background-color:rgb(131, 135, 158);
}

.said-no{
    background-color:rgb(255, 77, 32);
}

.said-no-bt button:focus{
    background-color:rgb(255, 77, 32);
    
}

.customers-table{
    background-color:rgb(255, 255, 255);
    /* padding:1rem; */
    border:1px solid rgb(255, 255, 255);
    border-radius:3px;
    border: solid 1px rgb(224, 222, 222);
    transition-duration: 1s;
}

.accordion-button{
   border:solid 2px rgb(255, 255, 255) !important;
   height: 4rem;
   transition-duration: 1.4s;
}

.accordion-button:hover{
   /* border:solid 2px rgb(189, 209, 231) !important; */
   border-radius: 6px!important;
   background-color: rgb(221, 224, 243);
}

.accordion-body{
    /* background-color: yellowgreen; */
    padding:1px;
    margin-top: 6px;
}

.collected-contacts{
    background-color:rgb(52, 60, 104);
    border: solid 2px rgb(217, 226, 235);
}

.collected-contacts small{
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    border-bottom: 1px solid rgb(5, 247, 187);
    /* margin-left: 1rem; */
    padding-bottom: 6.5px;
}
.collected-contacts span{
    color: rgb(236, 205, 26) !important;
    margin-left: 7rem;
    font-size: 40px;
    font-weight: 200;
    /* background-color: yellow; */
    border-bottom: 1px solid rgb(61, 235, 38);
}

.form-container {
	border: #e0dfdf 1px solid;
	padding: 30px 30px 10px 30px;
	border-radius: 15px;
	margin: 10px auto;
	width: 350px;
	text-align: center;
}

.input-row {
	margin-top: 0px;
	margin-bottom: 20px;
}

.btn-submit {
	background: #efefef;
	border: #d3d3d3 1px solid;
	width: 100%;
	border-radius: 20px;
	cursor: pointer;
	padding: 12px;
}

.btn-submit:hover {
	background: #d9d8d8;
	border: #c3c1c1 1px solid;
}

.outer-container table {
	border-collapse: collapse;
	width: 100%;
}

.outer-container th {
	border-top: 2px solid #dddddd;
	background: #f9f9f9;
	padding: 8px;
	text-align: left;
	font-weight: normal;
}

.outer-container td {
	border-top: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
}

.outer-container label {
	margin-bottom: 5px;
	display: inline-block;
}

#response {
	padding: 10px;
	border-radius: 15px;
}

.success {
	background: #c7efd9;
	border: #bbe2cd 1px solid;
}

.error {
	background: #fbcfcf;
	border: #f3c6c7 1px solid;
}

.file {
	border: 1px solid #cfcdcd;
	padding: 10px;
	border-radius: 20px;
	color: #171919;
	width: 100%;
	margin-bottom: 20px;
}

tr th{
    font-family: Montserrat;
    font-size:14px;
    font-weight:700;
    background-color:rgb(240, 247, 250)!important;
}
tr td{
    font-family: Montserrat;
    font-size:14px;
    font-weight:500;
}

.waiting-call p{
    color: rgb(72, 73, 75);
}


/* [User buttons] */
.user-buttons{
    background-color: grey;
    border-radius: 4px;
    margin-top: 3rem;
}
.user-buttons button{
    height: 4rem;
    /* width: 10rem; */
}

.user-start{
    background-color: rgb(247, 238, 238);
    border: solid 1px grey;
    border-radius: 6px;
    min-height: 10rem;
    width: 9vw;
    margin: 0.5rem;
}


.my-header h4{
    letter-spacing:2px;
    font-weight: 900;
    margin: 2rem;
    font-family: Montserrat;
   
}

.my-header{
border-bottom: 2px solid rgb(233, 229, 229);
}

.mkokoteni img{
    height:10rem;
    width:10rem;
}

.side-nav{
    
    /* min-height: 100vh; */
    padding:6px;
}
.home-button button i{
    margin-left: 9px;
    color: rgb(133, 133, 133);
}

.assigned-area{
    border-left: 1px solid rgb(221, 216, 216);
    /* padding:1rem; */
    /* min-height:100vh; */
}

.home-button button{
    color: rgb(32, 31, 31);
    /* border-radius:6px; */
    border: none;
    /* border-top: solid rgb(222, 225, 231) 2px; */
    border-bottom: solid rgb(222, 225, 231) 1px;
    background-color:white;
    font-weight: 500;
    font-size:14px;
    width:100%;
    padding: 21px 1px 21px 1px;
    transition-duration:1.4s;
    /* min-width:17.4rem; */
}
.home-button button:hover{
    background-color:rgb(235, 235, 235);
    border-radius: 4px;
}

.assigned-table{
    padding:2rem;
 
}
.assigned-table thead{
    height:3.3rem!important;

 
}
.assigned-table h5{
   color: rgb(59, 59, 59);
   font-family:Roboto;
   font-size: 18px;
   font-weight: 900;
   margin: 7px 0px 17px 1px;
}

.assigned-card-area{
    padding:2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(223, 223, 223);
    background-color: rgb(245, 245, 245);
}

.assigned-card{
    /* border-radius:6px; */
    /* background-color:rgb(242, 245, 248); */
    margin-bottom: 10px;
    border-right: 1px rgb(221, 215, 215) solid;
    padding: 2rem;
    text-align:center;
    font-family: Montserrat;
}

.assigned-card h6{
    font-weight: 700;
    font-size: 13px;
    color:rgb(58, 56, 56)
}

.assigned-card p{
    /* font-weight: 700; */
    font-size:26px;
    color: grey;
}

.customer h2{
    background-color:rgb(123, 151, 123);
}

.cspan {
    background-color: rgb(15, 197, 76);
    height:1rem;
    border-radius: 9px;
    width:2rem;
}

.snspan {
    background-color: rgb(241, 25, 18);
    height:1rem;
    border-radius: 9px;
    width:2rem;
}

.mbspan {
    background-color: rgb(226, 223, 5);
    height:1rem;
    border-radius: 9px;
    /* border: rgb(235, 230, 230) 1px solid; */
    width:3rem;
}
.naspan {
    background-color: rgb(74, 85, 100);
    height:1rem;
    border-radius: 9px;
    width:2.5rem;
}

.assigned-title{
    border-bottom: 1px solid rgb(231, 231, 231);
}

.assigned-title h1{
    margin: 1.6rem;
    color: rgb(70, 75, 90);
    font-size:19px;
    /* letter-spacing:1px; */
    font-weight: 800;
    font-family: Montserrat;
}

.assigned-title h1 span{
    float: right;
    margin-right:3rem;
    border-radius: 30rem;
    border: solid 1px rgb(196, 191, 191);
    padding:10px 10px 0px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: -100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    transition-duration: 1s;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .status-box{
      min-width: 7rem;
      padding-left: 2rem!important;
  
  }

   .dropdown-content{
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
      padding: 1rem;

  }
  
   .dropdown-content textarea{
      border-radius: 3px;
      min-height:   2rem;
      padding: 1rem;
      color:rgb(134, 134, 134);
      width: 100%;
      border: solid 1px rgb(202, 202, 202);

  }
   .dropdown-content select{
      border-radius: 3px;
      min-height:2rem;
      padding: 7px 0px 7px 15px;
      color:rgb(102, 114, 219);
      width: 100%;
      border:none;
      border: solid 1px rgb(202, 202, 202);
      margin-bottom: 10px;
      /* border-top: solid 2px rgb(223, 219, 219); */
  }

  .dropdown-content button{
      background-color: rgb(70, 70, 70);
      border: none;
      color: white;
      height:2.5rem;
      border-radius: 6px;
      transition-duration: 1.3s;
      margin-top: 10px;
      font-size: 13px!important;
      width: 100%;
      font-family: Montserrat;
  }

  .dropdown-content button:hover{
 background-color: black;
 border-radius: 1px;
  }

  select option{
      /* background-color: rebeccapurple; */
      margin:2px;
      padding: 7px;
      border-radius: 3px;
      border: 2px solid rgb(230, 230, 230);
  }

  .dropdown-content p{
      margin: 9px 0px 11px 15px;
  }

  .dropdown label{
      font-size: 13px;
      font-family: Montserrat;
      margin-bottom: 5px;
      margin-left:1rem;
  }

  .dropdown-content p i{
      margin-right: 1rem;
  }